html {
  background: #27272c;
}

.App {
  text-align: center;
}

.head {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: rgb(248, 241, 230);
}

.App-header {
  font-size: 5.2rem;
  color: rgb(248, 241, 230);
  text-align: center;
}

.circlesOff {
  margin-top: 4rem;
  height: 50px;
  width: 50px;
  margin: auto;
  background-color: #475062;
  /* width: 50%; */
  /* text-align: center; */

  border-radius: 50%;
  display: block;
  transform: scale(0.8);
  transition: all 0.2s ease-in;
}

.circlesOn {
  transform: scale(0.83);
  margin-top:4rem;
  height: 50px;
  width: 50px;
  margin: auto;
  /* width: 50%; */
  /* text-align: center; */
  background-color: rgb(235, 44, 76);

  border-radius: 50%;
  display: block;
  transition: all 0.3s ease-in;
}

.binary-line {
  /* float: left; */
  display: grid;
  grid-template-areas: "a b";
  padding: 3em;
  /* transform: rotate(180deg);
  transform: scaleY(-1) */
}

.hidden-bits {
  margin-top:4rem;
  height: 50px;
  width: 50px;
  margin: auto;
  visibility: hidden;
}

.time-line {
  display: grid;
  grid-template-areas: "a b";
  padding-left: .72em;
  padding-right: .72em;
  font-size: 4.9em;
  color: rgb(248, 241, 230);
}

.binary-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: "a  b  c";
  /* margin-left: 10px;
  margin-right: 10px; */
  justify-content: center;
}

.time-grid {
  display: grid;
  grid-template-areas: "a  b  c";
  /* margin-left: 10px;
  margin-right: 10px; */
  justify-content: center;
}

.test {
  margin-top: 2rem;
  color: rgb(248, 241, 230);
}

/* .button1 {
  margin-left: 40%;
  color: #61dafb;
  border-radius: 2rem;
  padding: 1rem;
  float: left;
} */
